html,
body {
	padding: 0;
	margin: 0;
}

button {
	padding: 0;
	border: 0;
	margin: 0;
	background: none;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	vertical-align: baseline;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background: #f5f5f5;
	color: #111;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	max-width: 550px;
	min-width: 230px;
	margin: 0 auto;
}

.header {
	padding-bottom: 4rem;
	background-image: linear-gradient(
		224deg,
		hsl(240deg 100% 50%) 2%,
		hsl(249deg 100% 59%) 63%,
		hsl(252deg 99% 64%) 78%,
		hsl(253deg 98% 68%) 87%,
		hsl(254deg 96% 73%) 92%,
		hsl(253deg 93% 77%) 96%,
		hsl(251deg 89% 81%) 98%,
		hsl(246deg 81% 85%) 99%,
		hsl(232deg 68% 88%) 100%,
		hsl(200deg 53% 90%) 100%
	);
}

.hidden {
	display: none;
}

.todoapp-wrapper {
	position: relative;
	top: -40px;
	overflow: hidden;
	border-radius: 8px;
	background: #fff;
	box-shadow:
		0 2px 4px 0 rgb(0 0 0 / 20%),
		0 25px 50px 0 rgb(0 0 0 / 10%);
}

.todoapp input::input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-style: italic;
	font-weight: 400;
}

.todoapp input::placeholder {
	color: rgb(0 0 0 / 40%);
	font-style: italic;
	font-weight: 400;
}

.todoapp input::input-placeholder {
	color: rgb(0 0 0 / 40%);
	font-style: italic;
	font-weight: 400;
}

.header h1 {
	width: 100%;
	padding-top: 2rem;
	margin: 0;
	color: white;
	font-size: 3rem;
	font-weight: 200;
}

.header h1 + p {
	padding-bottom: 1.2rem;
	margin: 0;
	color: white;
}

.new-todo,
.edit {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 6px;
	border: 1px solid #999;
	margin: 0;
	color: inherit;
	font-family: inherit;
	font-size: 24px;
	font-weight: inherit;
	line-height: 1.4em;
	box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-todo {
	height: 65px;
	padding: 2rem;
	border: none;
	border-radius: 8px;
	background: white;
	box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
}

.main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.toggle-all {
	position: absolute;
	right: 100%;
	bottom: 100%;
	height: 1px;
	width: 1px;
	border: none;

	/* Mobile Safari */
	opacity: 0;
}

.toggle-all + label {
	position: absolute;
	left: -0;
	top: -65px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 45px;
	font-size: 0;
}

.toggle-all + label::before {
	display: inline-block;
	padding: 10px 27px;
	color: #949494;
	font-size: 22px;
	transform: rotate(90deg);
	content: "❯";
}

.toggle-all:checked + label::before {
	color: #484848;
}

.todo-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	padding: 0 1rem;
	border-bottom: 1px solid #ededed;
	font-size: 24px;
}

.todo-list li:last-child {
	border-bottom: none;
}

.todo-list li.editing {
	padding: 0;
	border-bottom: none;
}

.todo-list li.editing .edit {
	display: block;
	width: calc(100% - 4rem);
	padding: 12px 16px;
	margin: 0 0 0 4rem;
}

.todo-list li.editing .view {
	display: none;
}

.todo-list li .toggle {
	position: absolute;
	top: 0;
	bottom: 0;

	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	width: 40px;
	border: none;
	margin: auto 0;
	text-align: center;

	/* Mobile Safari */
	appearance: none;
}

.todo-list li .toggle {
	opacity: 0;
}

.todo-list li .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center left;
}

.todo-list li .toggle:checked + label {
	background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E");
}

.todo-list li label {
	display: block;
	padding: 15px 15px 15px 60px;
	color: #484848;
	font-weight: 400;
	line-height: 1.2;
	word-break: break-all;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color: #949494;
	text-decoration: line-through;
}

.todo-list li .destroy {
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	display: none;
	height: 40px;
	width: 40px;
	margin: auto 0;
	color: #949494;
	font-size: 30px;
	transition: color 0.2s ease-out;
}

.todo-list li .destroy:hover,
.todo-list li .destroy:focus {
	color: #c18585;
}

.todo-list li .destroy::after {
	display: block;
	height: 100%;
	line-height: 1.1;
	content: "×";
}

.todo-list li:hover .destroy {
	display: block;
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.footer {
	height: 20px;
	padding: 1rem 1.5rem;
	border-top: 1px solid #e6e6e6;
	font-size: 15px;
	text-align: center;
}

.todo-count {
	float: left;
	text-align: left;
}

.todo-count strong {
	font-weight: 300;
}

.filters {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}

.filters li {
	display: inline;
}

.filters li a {
	padding: 3px 7px;
	border: 1px solid transparent;
	border-radius: 3px;
	margin: 3px;
	color: inherit;
	text-decoration: none;
}

.filters li a:hover {
	border-color: #6e49fe;
}

.filters li a.selected {
	border-color: #4c33b1;
}

.clear-completed,
html .clear-completed:active {
	position: relative;
	float: right;
	line-height: 19px;
	text-decoration: none;
	cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}

.info {
	margin: 65px auto 0;
	color: #4d4d4d;
	font-size: 11px;
	text-align: center;
	text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
}

.info p {
	line-height: 1;
}

.info a {
	color: inherit;
	font-weight: 400;
	text-decoration: none;
}

.info a:hover {
	text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (min-device-pixel-ratio: 0) {
	.toggle-all,
	.todo-list li .toggle {
		background: none;
	}

	.todo-list li .toggle {
		height: 40px;
	}
}

@media (width <= 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}

:focus {
	outline: 0;
}
